@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
html,
body {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
}
body {
  background-color: rgb(233, 230, 230);
}

/* The article fills all the space between header & footer */
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.post {
  font-size: medium;
  font-weight: 400;
}
.post h2 {
  font-size: x-large;
  font-weight: 500;
  padding-top: 2rem;
}
.post h3 {
  font-size: large;
  font-weight: 400;
  padding: 1rem 0 1rem 0;
}
.post {
  line-height: 180%;
}
.post img {
  height: 200px;
  width: 200px;
}
.post ul {
  margin-left: 2rem;
  list-style: disc;
}
